@import "styles/colors.module";
@import "styles/respond.module";

.sectionIntro {
    margin-top: 18rem;
    
    @include respond(phone) {
        margin-top: 10rem;
    }
}

.headingPrimary {
    margin-top: 1rem;
    margin-bottom: 2.4rem;
    color: $color-black;
    font-size: 4.8rem;
    line-height: 6.4rem;
    font-weight: 700;
    
    @include respond(phone) {
        font-size: 3rem;
        line-height: 4.2rem;
    }
    
    span {
        display: block;
        font-weight: inherit;
    }
}

.intro {
    font-size: 1.6rem;
    line-height: 2.4rem;
    
    &__text {
        &:not(:last-child) {
            margin-bottom: 1.2rem;
        }
    }
    
    &__skillSet {
        margin-top: 1.6rem;
        display: flex;
        flex-wrap: wrap;
        gap: .6rem;
        align-items: center;
        color: $color-black;
        
        @include respond(phone) {
            margin-top: 2.4rem;
        }
    }
    
    &__skillText {
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: $color-grey;
        margin-right: 2.4rem;
        
        @include respond(tab-port) {
            margin-right: 1.6rem;
        }
    }
    
    &__skillTag {
        width: 9rem;
        
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 400;
        text-align: center;
        
        color: $color-grey-2;
        background-color: $color-grey-3;
        border-radius: 2rem;
        padding: 4px;
    }
}

.sectionProjects {
    margin-top: 6rem;
    margin-bottom: 10rem;
}

.projectHeading {
    font-size: 2.4rem;
    
    @include respond(tab-port) {
        text-align: center;
        margin-bottom: 2rem;
    }
}

.projectList {
    padding-top: 2.4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    
    @include respond(tab-port) {
        justify-content: center;
    }
}